/* Game.css */

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #FFDFD6, #f5f5f5); /* Gradient from light cream to soft pink */
    color: #333; /* Dark text color for better readability */
    font-family: 'Arial', sans-serif;
    overflow: hidden;
  }
  
  .game-title {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fa0000; /* Light yellow for the title */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    animation: fadeIn 2s ease-in-out;
  }
  
  .game-canvas {
    width: 100%;
    max-width: 800px;
    height: 600px;
    border: 5px solid #88D66C; /* Bright green border for the canvas */
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: #000; /* Background color of the canvas */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Add styles for the game score and other text */
  .game-score {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #7ce900; /* Fresh green for the score */
  }
  
  .game-over {
    font-size: 3rem;
    color: #F8EDE3; /* Soft pink for game over text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  